In [10]:
# List of high schools
high_schools = ['Hernandez High School \n', "Figueroa High School \n",
                "Wilson High School \n","Wright High School"]

In [11]:
print(high_schools)

['Hernandez High School \n', 'Figueroa High School \n', 'Wilson High School \n', 'Wright High School']

In [12]:
print(*high_schools, sep = '\n')

Hernandez High School

Figueroa High School

Wilson High School

Wright High School

In [13]:
for school in high_schools:
    print(school)

Hernandez High School

Figueroa High School

Wilson High School

Wright High School

In [16]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District \n"},
                    {"High School": "Figueroa", "Type": "District \n"},
                    {"High School": "Wilson", "Type": "Charter \n"},
                    {"High School": "Wright", "Type": "Charter \n"}]

print(*high_school_types, sep = '\n')

{'High School': 'Griffin', 'Type': 'District \n'}
{'High School': 'Figueroa', 'Type': 'District \n'}
{'High School': 'Wilson', 'Type': 'Charter \n'}
{'High School': 'Wright', 'Type': 'Charter \n'}

In [19]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [20]:
# Add the Pandas dependency.
import pandas as pd

In [22]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [28]:
for x in school_series:
    print(x)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [29]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [30]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [33]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [47]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID            school_name  type_of_school            School Name
0          0      Huang High School  <class 'type'>      Huang High School
1          1   Figueroa High School  <class 'type'>   Figueroa High School
2          2    Shelton High School  <class 'type'>    Shelton High School
3          3  Hernandez High School  <class 'type'>  Hernandez High School
4          4    Griffin High School  <class 'type'>    Griffin High School

In [48]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [49]:
new_df = pd.DataFrame.from_dict(high_school_dicts)

new_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [50]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [51]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [52]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [59]:
h_s_d = [
        {"School ID": 5, "school_name": "Wilson High School", "type": "Charter"},
        {"School ID": 6, "school_name": "Cabrera High School", "type": "Charter"},
        {"School ID": 7, "school_name": "Bailey High School", "type": "District"},
        {"School ID": 8, "school_name": "Holden High School", "type": "Charter"},]

high_school_dicts.extend(h_s_d)

school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter